/* @import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Lobster&display=swap'); */
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }

  
  .hero-container {
    background: url('https://wallpapercave.com/wp/wp2968489.jpg') center center/cover no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 45px;
    margin-top: -350px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #ffffff;
    font-size: 32px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif; */
      font-family: 'Lobster', cursive;
      letter-spacing: 2px;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-play-circle {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
  
    .btn {
      width: 100%;
    }
  }

  .hero-container {
    text-align: center;
    padding: 50px;
  }
  
  .hero-btns {
    margin-top: 30px;
  }
  
  .medical-management {
    display: grid;
    grid-gap: 20px;
    margin-top: 30px;
    background-color: rgb(246, 248, 250);
    padding: 100px;
  }
  
  .medical-management h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .medical-management h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .medical-management h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .medical-management p {
    font-size: 16px;
    color: #666;
    margin-bottom: 40px;
  }
  
  .medical-management .medical-management-features {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  
  .medical-management .feature {
    flex: 0 0 30%;
    width: 100px;
  }
  .medical-management .feature img {
    width: 300px;
    height: 250px;
    /* margin-bottom: 20px; */
    /* object-fit: contain; */
    padding: auto;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 130px;
    margin-bottom: 20px;
    
    /* margin-top: 20px; */

  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin-top: 30px;
  }
  
  .image-grid img {
    width: 100%;
    border-radius: 8px;
  }